


#TomatoAction{
    flex: 1;
    .startTomatoButton{
        width: 100%;
      }
    .countDownWrapper,.inputWrapper{
        position: relative;
        
    }
    .abort{
        position: absolute;
        margin-top: 8px;
        left: 0;
        top:0;
        cursor:pointer;
    }

}