



#Tomatoes{
    width:47vw;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fdfdfd;
    padding: 16px;  
    margin-left:1vw;
    box-shadow: 0 2px 0 rgba(225,225,225,.2);

}
