body{
  background-color: #fdfdfd;
}



#Index{
    max-width: 100vw;
    padding:16px ;
    >header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom:1px solid #ddd;
    }
    >main{
      padding: 16px 0;
      display: flex;
      flex-wrap:wrap ;
      align-items: flex-start;
    }
    
}